.root {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 90vh
}
.div1 {
	height: 400px;
	width: 400px;
	border:1px solid red;
}
.div1 video {
	height: 100%;
	width:100%;
}
.div2 {
	height: 400px;
	width: 400px;
	border:1px solid green;
}
.div2 video {
	height: 100%;
	width:100%;
}
.startlive{
	padding:10px;
	background: green;
	border:none;
	font-weight: 900;
	color:#fff;
	cursor: pointer;
	margin-right:80px;
}